@charset "UTF-8";


@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);

/* Charte typographique */
@import url('https://fonts.googleapis.com/css2?family=Imbue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


body{
    background-image: url(../image/old_map.png);
   }
   .containeur {
    position: relative;
    background-color: #333;
    margin: 0 0.5em 5em 0.5em;
    padding: 2em 0.5em;
   }
   .containeur2 {
    background-image: url(../image/Papier_brunatre.png);
    background-size: 100%;
    background-clip: padding-box;
    padding: 0.1em;
    background-repeat: round;
   }
   @media(min-width:599px) {
    .containeur{
    margin: 0 5em 5em 5em;
    padding: 2em 0.5em;
    }
   }
   @media(min-width:999px) {
    .containeur{
    margin: 0 10em 5em 10em;
    padding: 2em 0.5em;
    }
   }
    
   /* Header */
   .entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    background-image: url(../image/lined_paper.png);
    background-repeat: round;
    box-shadow: 0 4px 4px rgba(3,3,3,0.25);
   }
   .logo{
    margin: 1.5em auto 0 0;
   }
   .logo svg{
    width: 161px;
   }
   .menuPrincipale {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    font-family: 'Imbue', serif;
   }
   .menuPrincipale__item {
    padding-right: 1em; 
   }
   .menuPrincipale__lien {
    font-size: 18px;
    text-decoration:none;
    color: #333;
   }
   .menuPrincipale__lien:active{
    text-decoration: underline;
   }
   .menuPrincipale__lien:hover{
    background-image: url(../image/survol_Acc.jpg);
    background-position: center;
    background-repeat: space;
   }
   .menuPrincipale__lien:focus {
    border: 2px dashed #420D0D;
   }
   .epingle{
    width: 92%;
    height: 66px;
    background: rgb(145,88,56);
    background: linear-gradient(180deg, rgba(145,88,56,1) 0%, rgba(200,158,95,1) 24%, rgba(152,97,61,1) 46%);
    border-radius: 3px;
    border: 2px solid #915838;
    position: absolute;
    top: 0;
    left: 4%;
    padding: 0 auto;
   }
   @media(min-width:599px) {
    .logo svg{
    width:100%;
    }
    .nav{
    margin-left: auto;
    }
   }
   @media(min-width: 999px) {
    .epingle{
    width: 75%;
    left: 12%;
    }
    .menuPrincipale__lien{
    font-size: 24px;
    }
    
   }
   h1{
    font-family: 'Imbue', serif;
    text-align: center;
    font-size: 3.6em;
   }
   h2 {
    font-family: 'Smooch Sans', sans-serif;
    padding-left: 10px;
    font-size: 1.9em;
   }
   

   .conteneur_galerie{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    
   }
   @media(min-width:600px){
   .conteneur_galerie{
    
    grid-template-columns: repeat(2, 1fr);
    
   }
    }
    @media(min-width:1000px){
        .conteneur_galerie{
    
         grid-template-columns: repeat(3, 1fr);
       
        }
         }
         .footer{
            display: flex;
            flex-direction: column;
            background-image: url(../image/Papier_Orangish@2x.png);
            margin-right: auto;
            margin-left: auto;
            max-width:1000px;
        }
        .divFooter{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .menu{
            display: flex;
            list-style: none;
            flex-direction: row;
            padding-inline-start: 0em;
            justify-content: space-between;
            width:50%;
            margin: 1em 3em 0 2em;
         
        }
        .menuSociaux__image{
            width:65%;
        }
        .menuFooter{
            display: flex;
            list-style: none;
            flex-direction: row;
            justify-content: space-between;
            padding-inline-start: 0em;
            width:100%;
            margin: 2em 3em 2em 0;
        }
        .pFooter1{
            display: flex;
            text-align: center;
            margin: 1em 3em 1em 3em;
            font-family: 'Smooch Sans', sans-serif;
        }
        .pFooter2{
            display: flex;
            text-align: center;
            margin: 2em 3em 2em 3em;
            font-family: 'Smooch Sans', sans-serif;
        }
        .conteneur_fiche_personnage{
            background-color: #FFFFFF;
            border-radius: 20px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul{
            list-style: none;
           
            
        }
        figcaption{
            font-family: 'Nothing You Could Do', cursive;
            text-align: center; 
        } 